# Secrets
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Python version
.python-version

# Build / cache
build/
dist/
*.egg-info/

# Logs
*.log

# Misc
*.sqlite3